#content
{
    width: 2000px;
    height: 2500px;
    background: url(../recursos/wallpaper.jpg);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(40, 1fr);
}
#load
{
    text-align: center;
    position: absolute;
    left: 45%;
    top: 45%;
    
}
#pokemon_info
{
    width: 19%;
    position: sticky;
    bottom: 50%;
    left: 79.4%;
    text-align: center;
    background-color: cornflowerblue;
    outline: solid cadetblue;
}
p{
    margin: 6%;
}
button{
    text-align: right;
    background-color: darkcyan;
    color: wheat;
    margin-left: 90%;
}
.name_d{
    font-style: oblique;
    font-weight: bolder;
    font-size: large;
}
.types, .weight, .height{
    width: 90%;
    height: 50%;
    outline: solid cadetblue;
}
.pokemon{
    margin: 10%;
    background-color: salmon;
    border-radius: 5%;
    border: 1px solid purple;
}
header{
    text-align: center;
}
